<div class="w-[900px] h-auto flex flex-col">
    <div class="text-center font-bold text-2xl mb-6">Thông tin chi tiết đơn đặt vé</div>
    <div class="flex justify-between mx-20">
        <div class="border rounded-md p-10 shadow-2xl">
            <div class="font-medium text-lg mb-4">Thông tin khách hàng đặt vé</div>
            <div class="space-y-7">
                <div>Tên khách hàng: {{detailInfoCustomer.customerName}}</div>
                <div>Số điện thoại: {{detailInfoCustomer.phoneCustomer}}</div>
                <div>Email: {{detailInfoCustomer.email}}</div>
                <div>Điểm đón: {{detailInfoCustomer.pickUpPoint}} </div>
                <div>Điểm trả: {{detailInfoCustomer.dropOffPoint}}</div>
            </div>
        </div>
        <div class="border rounded-md p-1 shadow-2xl">
            <div class="font-medium text-lg text-center mb-2">Chi tiết</div>
            <div class="flex items-center justify-center  row-detail">
                <div>Tên</div>
                <div>Giá tiền</div>
                <div>Số lượng</div>
            </div>
            <div class="flex items-center  row-detail">
                <div>Vé</div>
                <div>{{detailMoney.price| currency:'VND':'symbol':'1.0':'fr'}}</div>
                <div>{{detailMoney.quantityTicket}}</div>
            </div>
            <div class="flex items-center  row-detail">
                <div>Cơm</div>
                <div>{{detailMoney.eatingFee| currency:'VND':'symbol':'1.0':'fr'}}</div>
                <div>{{detailMoney.quantityEating}}</div>
            </div>
            <div class="flex items-center border-b-2 row-detail">
                <div>Tiền giảm giá</div>
                <div>{{detailMoney.giftCode| currency:'VND':'symbol':'1.0':'fr'}}</div>
            </div>
            <div class="flex items-center  row-detail">
                <div>Tổng tiền</div>
                <div>{{detailMoney.totalPrice| currency:'VND':'symbol':'1.0':'fr'}}</div>
            </div>
            <div class="flex items-center  row-detail">
                <div>Tiền cọc</div>
                <div>{{detailMoney.deposit| currency:'VND':'symbol':'1.0':'fr'}}</div>
            </div>
            <div class="flex items-center  row-detail">
                <div>Tiền cần trả</div>
                <div>{{detailMoney.restPrice| currency:'VND':'symbol':'1.0':'fr'}}</div>
            </div>
        </div>
    </div>
</div>
