<div style="width: 300px;">
  <div class="text-xl text-center font-semibold mb-4">
   Thông tin chi tiết
  </div>
  <form [formGroup]="shuttleForm">
    <div
      style="
        border: 1px solid #b9abab;
        border-radius: 5px;
        padding: 10px;
      
      "
      class="flex flex-col"
    >
      <mat-form-field appearance="outline" style="margin: 37px 2px;">
        <mat-label>Thời gian xuất phát</mat-label>
        <input matInput type="time" formControlName="startTime" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Thời gian đến theo dự kiến</mat-label>
        <input matInput type="time" formControlName="endTime" />
      </mat-form-field>
    </div>
    <div class="flex justify-end mt-4 space-x-4">
      <button
        mat-button
        mat-raised-button
        [mat-dialog-close]="true"
        class="bg-red-600 text-zinc-50"
      >
        Hủy
      </button>
      <button
        mat-raised-button
        (click)="onSubmit()"
        [mat-dialog-close]="true"
        class="bg-green-600 text-zinc-50"
      >
        Lưu
      </button>
    </div>
  </form>
</div>
