<div class="bg-[#f3f3f3] text-[#767676] mt-10 text-left px-5 lg:px-20">
  <div class="container">
    <div class="py-3 flex justify-between">
      <div class="px-4">
        <h1 class="pb-3 text-lg font-semibold text-[#4D4D4D]">Về chúng tôi</h1>
        <div class="flex space-x-3">
          <a href="https://www.facebook.com/toanvdt.77">
            <img src="../../../../../assets/data/facebook.png" width="32" height="32"> 
          </a>
          <a href="https://www.instagram.com/">
            <img src="../../../../../assets/data/instagram.png" width="32" height="32"> 
          </a>
          <div matTooltip="vanthanhtoan771@gmail.com"
          aria-label="Button that displays a tooltip when focused or hovered over">
            <img src="../../../../../assets/data/social.png" > 
          </div>
          <a href="https://web.telegram.org/k/">
            <img src="../../../../../assets/data/telegram.png" width="32" height="32"> 
          </a>
          <a href="https://www.youtube.com/">
            <img src="../../../../../assets/data/youtube.png" width="32" height="32"> 
          </a>
        </div>
      </div>
      <div class="px-4 col-span-3">
        <h1 class="pb-5 text-lg font-semibold text-[#4D4D4D]">Hỗ trợ</h1>
        <p class="mb-2 hover:text-[#40a9ff]">Hướng dẫn thanh toán</p>
        <p class="mb-2 hover:text-[#40a9ff]">Quy chế</p>
        <p class="mb-2 hover:text-[#40a9ff]">Chính sách bảo mật thông tin</p>
        <p class="mb-2 hover:text-[#40a9ff]">Chính sách bảo mật thanh toán</p>
        <p class="mb-2 hover:text-[#40a9ff]">
          Chính sách và quy trình giải quyết <br />
          tranh chấp, khiếu nại
        </p>
        <p class="mb-2 hover:text-[#40a9ff]">Câu hỏi thường gặp</p>
        <p class="mb-2 hover:text-[#40a9ff]">Tra cứu đơn hàng</p>
      </div>
      <div class="px-4 col-span-3">
        <h1 class="pb-5 text-lg font-semibold text-[#4D4D4D]">Chứng nhận</h1>
      </div>
      <div class="px-4 col-span-3">
        <h1 class="pb-5 text-lg font-semibold text-[#4D4D4D]">Tải ứng dụng</h1>
      </div>
    </div>
  </div>
</div>
<div class="pt-10 text-center text-[#767676] bg-white">
  <h2 class="font-semibold text-[#4D4D4D]">
    Website VEXERE PTITHCM
  </h2>
  <p>
    Địa chỉ: 97 Man Thiện, Phường Hiệp Phú, Quận 9, TP. Hồ Chí Minh, Việt Nam
  </p>
  <p>Bản quyền &copy; 2023 ToanPTITHCM</p>
</div>
