<div class="ml-12 mt-3 w-[1200px] h-[600px] bg-white border rounded-md p-4">
    <div class="text-center text-xl font-medium mb-3">Hình ảnh xe</div>
    <div class="flex">
        <div class="mr-9">
            <form [formGroup]="busForm">
                <mat-form-field>
                    <mat-label>Xe</mat-label>
                    <mat-select formControlName="bus">
                        <mat-option *ngFor="let bus of buses" [value]="bus">
                            {{bus.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="flex">
            <div *ngIf="noData">
            <img src="../../../../../../assets/data/istockphoto-1392182937-612x612.jpg" alt="no imgae" class="h-[520px]"></div>
            <div class="mr-8" *ngIf="!noData">
                <div class="carousel">
                    <div class="main-image">
                        <button (click)="prevImage(images[selectedImageIndex])" [disabled]="selectedImageIndex === 0"
                            class="control-button left-button">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <div class="w-full flex justify-center">
                            <img [@imageAnimation]="selectedImageIndex" class="mainimage"
                                [src]="images[selectedImageIndex]?.imgUrl" alt="Main Image" />
                        </div>
                        <button (click)="nextImage(images[selectedImageIndex])" [disabled]="selectedImageIndex === images.length - 1"
                            class="control-button right-button">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>

                    <div class="image-info">{{ selectedImageIndex + 1 }}/{{ images.length }}</div>

                    <div class="thumbnails">
                        <div *ngFor="let image of getVisibleThumbnails(); let i = index" class="thumbnail"
                            [class.selected]="i + startIndex === selectedImageIndex"
                            (click)="selectImage(i + startIndex,image)">
                            <img [src]="image?.imgUrl" alt="Thumbnail {{ i + startIndex + 1 }}" class="thumbnail-image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-full grid grid-cols-1 gap-3 content-end">
                <div class="formbold-mb-5 formbold-file-input bg-green-400 ">
                    <input type="file" name="file" (change)="selectFile($event)" [multiple]="true" id="file" />
                    <label for="file">
                        <div>
                            <div class="formbold-browse text-white"> Thêm ảnh </div>
                        </div>
                    </label>
                </div>
                <div class="formbold-mb-5 formbold-file-input bg-green-400 ">
                    <input type="file" name="file1" (change)="selectFileToChange($event)" [multiple]="true" id="file1" />
                    <label for="file1">
                        <div>
                            <div class="formbold-browse text-white">Sửa ảnh </div>
                        </div>
                    </label>
                </div>
                <button class="bg-green-400 px-4 py-2 rounded-sm text-white border" (click)="deleteImage()">Xóa ảnh</button>
            </div>
        </div>
    </div>
</div>
<app-spinner [isLoading]="isLoading"></app-spinner>