<div *ngIf="noData" class="flex py-7 px-5 justify-center text-xl">Không có dữ liệu</div>
<div *ngIf="!noData" class="mx-5">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full mt-[2%] rounded-xl border bg-white">
    <!-- Position Column -->
    <ng-container matColumnDef="brandName">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Tên nhà xe </th>
      <td style="width: 10%;text-align: center;" mat-cell *matCellDef="let order"> {{order.brandName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tickets">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Vé</th>
      <td style="width: 15%;text-align: center;" mat-cell *matCellDef="let order">{{order.listSeat}}
    </ng-container>
    
    <ng-container matColumnDef="travelDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Ngày đi</th>
      <td style="width: 10%; text-align: center;padding:0 60px" mat-cell *matCellDef="let order">
          {{order.travelTime}} {{order.travelDate |date: 'dd/MM/yyyy'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="orderDate">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Ngày đặt</th>
      <td style="width: 10%; text-align: center;padding:0 60px" mat-cell *matCellDef="let order">
          {{order.orderDate |date: 'HH:mm dd/MM/yyyy'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Tổng tiền</th>
      <td style="width: 7.5%; text-align: center;" mat-cell *matCellDef="let order">
        {{order.totalPrice | currency:'VND':'symbol':'3.0-2':'fr' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deposit">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Tiền cọc</th>
      <td style="width: 7.5%; text-align: center;" mat-cell *matCellDef="let order">{{order.deposit | currency:'VND':'symbol':'1.0':'fr' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="orderStatus">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Trạng thái đơn đặt</th>
      <td style="width: 15%; text-align: center;" mat-cell *matCellDef="let order">
        <div class="w-full h-full flex justify-center">
          <div class="rounded-lg border-4 h-[34px] py-1 w-[130px] px-7 text-cyan-50 "
          [ngStyle]="{'background': (order.orderStatus === 'Đã hủy') ? 'red' : (order.orderStatus === 'Đã đặt') ? 'green' : (order.orderStatus === 'Chờ duyệt') ? '#F59E08' : 'green'}">
          {{order.orderStatus}}
        </div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="paymentStatus">
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef>Thanh toán</th>
      <td style="width: 15%; text-align: center;" mat-cell *matCellDef="let order">
        <div class="w-full h-full flex justify-center">
          <div class="rounded-lg border-4 h-[34px] py-1 w-[168px] px-7 text-cyan-50 flex justify-center"
            [ngStyle]="{'background': (order.paymentStatus === 'Chưa thanh toán') ? 'red' : (order.paymentStatus === 'Đã thanh toán') ? 'green' : (order.paymentStatus === 'Đã cọc') ? '#F59E08' : ''}">
            {{order.paymentStatus}}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action"  >
      <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Hành động </th>
      <td style="width: 20%;text-align: center;" mat-cell *matCellDef="let order" >
        <button style="background: #3F51B5;" mat-button [matMenuTriggerFor]="menu" (click)="getOrder(order)">
          
          <mat-icon style="color: white;">menu</mat-icon>
          
        </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [disabled]="(order.orderStatus === 'Đã hủy') ? true : false" (click)="CancelBooking(order)">Hủy đơn đặt</button>
            <button mat-menu-item (click)="openOrderDetail(order)" [disabled]="(order.orderStatus === 'Đã hủy') ? true : false">Chi tiết đơn đặt</button>
            <!-- <button mat-menu-item>Hủy đơn đặt</button>  -->
        </mat-menu>
        <!-- <mat-spinner *ngIf="openingMenu" [diameter]="40" style="color: white;"></mat-spinner> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
  </table>
  <div>
    <mat-paginator #paginator  [pageSizeOptions]="[8,16,24, 100]">
    </mat-paginator>
  </div>
</div>
<app-spinner [isLoading]="isLoading"></app-spinner>