<div class=" bg-[#2474E5] z-50 text-white-800">
  <div class="flex h-16 items-center justify-between px-5 lg:px-20">
    <div class="flex items-center">
      <div>
        <img
          src="https://storage.googleapis.com/fe-production/svgIcon/icon_vxr_full_2.svg"
          alt="logo"
        />
      </div>
    </div>
    <div class="flex items-center">
      <button mat-button style="color: white;" (click)="openDialogShowOrder()">Tra cứu đơn đặt</button>
      <button mat-icon-button [matMenuTriggerFor]="contact">
        <mat-icon class="white-color">local_phone</mat-icon>
      </button>
      <mat-menu #contact="matMenu">
        <label mat-menu-item>Liên hệ : 09765456789</label>
      </mat-menu>
      <button *ngIf="!isLogin" mat-raised-button color="accent" (click)="openDialogLogin()">
        Đăng nhập
      </button>
      <div *ngIf="isLogin" class="relative ml-3 flex items-center">
        <div class="flex items-center space-x-5">
          <button mat-button [matMenuTriggerFor]="profileMenu">
            <img class="h-10 w-10"
              src="https://www.shareicon.net/data/128x128/2016/05/24/770117_people_512x512.png"
              alt="avatar_profile"
            />
          </button>
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="openProfileCustomer()">Thông tin tài khoản</button>
            <div mat-menu-item>Thành viên 
              <span class="rank-title" [class.newmember]="rank === 'Mới'" 
              [class.member]="rank === 'Thường'"> {{rank}}</span>
             </div>
            <button mat-menu-item (click)="openHistoryOrder()">Lịch sử đặt vé</button>
            <button mat-menu-item>Ưu đãi</button>
            <button mat-menu-item (click)="logout()">Đăng xuất</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>