<form [formGroup]="forgotPasswordForm" class="flex flex-col">
    <div class="text-xl text-center font-semibold mb-4">Quên mật khẩu</div>
<mat-form-field appearance="outline">
    <mat-icon class="text-[#9B9B9B] mr-1" matPrefix>email</mat-icon>
    <input matInput type="tel" placeholder="Nhập email để nhận mã xác thưc" formControlName="email"/>
    <mat-error  *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email không được trống</mat-error>
    <mat-error  *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Email không đúng định dạng</mat-error>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-icon class="text-[#9B9B9B]" matPrefix>password</mat-icon>
    <input matInput type="password" placeholder="Nhập mã xác thực"  formControlName="codeConfirm"/>
    <mat-error  *ngIf="forgotPasswordForm.get('codeConfirm')?.hasError('required')">Mật khẩu không được trống</mat-error>
</mat-form-field>
<button mat-raised-button color="primary" [disabled]="forgotPasswordForm.invalid"
(click)="sentEmail ? sendCode():sendMail()">
    {{sentEmail?'Gửi mã xác nhận':'Gửi email'}} </button>
</form>
