<div class="fixed left-0 right-0 top-0 bg-[#2474E5] z-50 text-white-800">
    <div class="flex h-16 items-center justify-between px-5 lg:px-20">
      <div class="flex items-center">
        <div>
          <img
            src="https://storage.googleapis.com/fe-production/svgIcon/icon_vxr_full_2.svg"
            alt="logo"
          />
        </div>
      </div>
      <div class="flex items-center">
        <div  class="relative ml-3 flex items-center">
          <div class="flex items-center space-x-5">
            <span style="color: aliceblue;">Xin chào, {{user.data.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
