<div *ngIf="!isSuccess">
  <button
    style="margin: 3%; background: green; color: white;"
    mat-raised-button
    color="#primary"
    (click)="openFormAddBrand()"
  >
    Thêm thông tin nhà xe
  </button>
</div>
<div class="mt-3 mx-7 w-[900px]">
  <div *ngIf="isSuccess" class="border bg-white rounded-lg p-8">
    <div class="text-xl text-center font-semibold pb-4">
      Thông tin về nhà xe
    </div>
    <form [formGroup]="brandForm" class="w-full flex justify-between space-x-8 items-start">
      <div class="flex flex-col justify-center w-1/2">
        <mat-form-field appearance="outline">
          <mat-label>Tên nhà xe</mat-label>
          <input matInput placeholder="Tên nhà xe" formControlName="name" />
          <mat-error *ngIf="nameDuplicated">Tên nhà xe đã tồn tại</mat-error>
          <mat-error *ngIf="brandForm.get('name')?.hasError('required')">
            Tên nhà xe không được để trống
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Địa chỉ</mat-label>
          <input matInput placeholder="Địa chỉ" formControlName="address" />
          <mat-error *ngIf="brandForm.get('address')?.hasError('required')">
            Địa chỉ nhà xe không được để trống
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Số điện thoại</mat-label>
          <input matInput placeholder="Số điện thoại" formControlName="phone" />
          <mat-error *ngIf="phoneDuplicated">SĐT nhà xe đã tồn tại</mat-error>
          <mat-error *ngIf="brandForm.get('phone')?.hasError('required')">
            Số điện thoại nhà xe không được để trống
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mô tả</mat-label>
          <input matInput placeholder="Mô tả" formControlName="description" />
        </mat-form-field>
      </div>
      <div class="w-1/2">
        <mat-form-field appearance="outline" class="w-[325px] h-[325px]">
          <img [src]="thumb || img" />
          <label htmlFor="fileUpload"> <mat-icon>cloud_upload</mat-icon></label>
          <input id="fileUpload" matInput placeholder="img" hidden />
          <input
            id="fileUpload"
            type="file"
            class="file-upload"
            (change)="upLoad($event)"
          />
        </mat-form-field>
      </div>
    </form>
    <div>
      <button
        mat-raised-button
        (click)="saveBrand()"
        [disabled]="brandForm.invalid"
        class="bg-green-600 text-cyan-50"
      >
        Lưu
      </button>
    </div>
  </div>
</div>
<app-spinner [isLoading]="isLoading"></app-spinner>
