<div class="w-full mt-3">
    <!-- Main container -->
    <div class="border-2 rounded-t-lg shadow-lg mx-10 bg-white px-14 py-4">
      <!-- Header section with button and form -->
      <div class="flex justify-between items-center border-2 h-20 px-4 bg-[#F0F0EE] rounded-lg">
        <!-- Add button -->
        <button mat-raised-button class="w-[100px] h-[40px] bg-[#7DC0CE] text-white" (click)="openFormSchedule(null)"> 
          Thêm
        </button>
        <!-- Form for selecting a route -->
        <form [formGroup]="scheduleForm">
          <mat-form-field appearance="outline">
            <mat-label>Tuyến đường</mat-label>
            <mat-select formControlName="route" name="route">
              <mat-option *ngFor="let route of routes" [value]="route">
                {{ route.startPoint }} - {{route.endPoint}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
  
      <!-- Table section for displaying schedules -->
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full mt-[2%] rounded-xl border bg-white">
          <!-- Column definitions -->
          <!-- 'busName' column -->
          <ng-container matColumnDef="busName">
            <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Xe </th>
            <td style="width: 15%;text-align: center;" mat-cell *matCellDef="let schedule"> {{schedule.busName }} <br><div class="font-bold">Xe {{schedule.seats }} chỗ</div> </td>
          </ng-container>
  
          <!-- 'price' column -->
          <ng-container matColumnDef="price">
            <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Giá</th>
            <td style="width: 25%;text-align: center;" mat-cell *matCellDef="let schedule">Giá vé: {{schedule.price }}<br> <div >Tiền cơm: {{schedule.eatingFee }}</div></td>
          </ng-container>
  
          <!-- 'dateTime' column -->
          <ng-container matColumnDef="dateTime">
            <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Thời gian</th>
            <td style="width: 35%; text-align: center;" mat-cell *matCellDef="let schedule"> Ngày xuất phát: {{schedule.dateStart | date:'dd-MM-yyyy'}} 
              <br> Giờ đi: {{schedule.startTime}}
            </td>
          </ng-container>
  
          <!-- 'action' column -->
          <ng-container matColumnDef="action">
            <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Hành động </th>
            <td style="width: 25%;text-align: center;" mat-cell *matCellDef="let schedule"> 
              <!-- Edit button -->
              <button mat-button color="primary" (click)="openFormSchedule(schedule)">
                <mat-icon>edit</mat-icon>
              </button>
              <!-- Delete button -->
              <button mat-button color="accent" (click)="deleteSchedule(schedule)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <!-- Table rows and pagination -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
        </table>
        <div>
          <mat-paginator #paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <app-spinner [isLoading]="isLoading"></app-spinner>
  
